src/main/resources/xsd/servicio-timbrado.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://ntlink.com.mx/IServicioTimbrado" elementFormDefault="qualified" targetNamespace="https://ntlink.com.mx/IServicioTimbrado">
    <xs:element name="ObtenerEmpresas">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObtenerEmpresasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ObtenerEmpresasResult" type="tns:ArrayOfEmpresaNtLink"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ObtenerDatosCliente">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObtenerDatosClienteResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ObtenerDatosClienteResult">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="Ciudad" type="xs:string"/>
                            <xs:element minOccurs="0" name="Colonia" type="xs:string"/>
                            <xs:element minOccurs="0" name="Contacto" type="xs:string"/>
                            <xs:element minOccurs="0" name="Cp" type="xs:string"/>
                            <xs:element minOccurs="0" name="Direccion" type="xs:string"/>
                            <xs:element minOccurs="0" name="Email" type="xs:string"/>
                            <xs:element minOccurs="0" name="Empresas" type="xs:int"/>
                            <xs:element minOccurs="0" name="Estado" type="xs:string"/>
                            <xs:element minOccurs="0" name="FechaContrato" type="xs:dateTime"/>
                            <xs:element minOccurs="0" name="RazonSocial" type="xs:string"/>
                            <xs:element minOccurs="0" name="RegimenFiscal" type="xs:string"/>
                            <xs:element minOccurs="0" name="Rfc" type="xs:string"/>
                            <xs:element minOccurs="0" name="Sucursales" type="xs:int"/>
                            <xs:element minOccurs="0" name="Telefono" type="xs:string"/>
                            <xs:element minOccurs="0" name="TimbresConsumidos" type="xs:int"/>
                            <xs:element minOccurs="0" name="TimbresContratados" type="xs:int"/>
                            <xs:element minOccurs="0" name="Usuarios" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaSaldo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaSaldoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaSaldoResult" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ConsultaAceptacionRechazo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcEmisor" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcReceptor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaAceptacionRechazoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaAceptacionRechazoResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ProcesarRespuestaAceptacionRechazo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="uuid" type="tns:ArrayOfFolios"/>
                <xs:element minOccurs="0" name="rfcEmisor" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcReceptor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ProcesarRespuestaAceptacionRechazoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ProcesarRespuestaAceptacionRechazoResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ConsultaEstatusCFDI">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="expresion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaEstatusCFDIResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaEstatusCFDIResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCFDIRelacionados">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="uuid" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcEmisor" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcReceptor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ConsultaCFDIRelacionadosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ConsultaCFDIRelacionadosResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TimbraCfdiQr">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdiQrResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraCfdiQrResult" type="tns:TimbraCfdiQrResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdiQrSinSello">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdiQrSinSelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraCfdiQrSinSelloResult" type="tns:TimbraCfdiQrSinSelloResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdi">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraCfdiResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdiSinSello">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraCfdiSinSelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraCfdiSinSelloResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraRetencion">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraRetencionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraRetencionResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraRetencionSinSello">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraRetencionSinSelloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraRetencionSinSelloResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraRetencionQr">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="comprobante" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimbraRetencionQrResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="TimbraRetencionQrResult" type="tns:TimbraRetencionQrResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaRetencion">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="uuid" type="xs:string"/>
                <xs:element minOccurs="0" name="rfc" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaRetencionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CancelaRetencionResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaCfdi">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="uuid" type="xs:string"/>
                <xs:element minOccurs="0" name="motivo" type="xs:string"/>
                <xs:element minOccurs="0" name="folioSustituto" type="xs:string"/>
                <xs:element minOccurs="0" name="rfc" type="xs:string"/>
                <xs:element minOccurs="0" name="expresion" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcReceptor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaCfdiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CancelaCfdiResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaCfdiOtrosPACs">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="uuid" type="xs:string"/>
                <xs:element minOccurs="0" name="motivo" type="xs:string"/>
                <xs:element minOccurs="0" name="folioSustituto" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcEmisor" type="xs:string"/>
                <xs:element minOccurs="0" name="expresion" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcReceptor" type="xs:string"/>
                <xs:element minOccurs="0" name="Base64Cer" type="xs:string"/>
                <xs:element minOccurs="0" name="Base64Key" type="xs:string"/>
                <xs:element minOccurs="0" name="PasswordKey" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaCfdiOtrosPACsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CancelaCfdiOtrosPACsResult" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaCfdiRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="requestCancelacion" type="xs:string"/>
                <xs:element minOccurs="0" name="expresion" type="xs:string"/>
                <xs:element minOccurs="0" name="uuid" type="xs:string"/>
                <xs:element minOccurs="0" name="rfcReceptor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CancelaCfdiRequestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="CancelaCfdiRequestResult" type="tns:RespuestaCancelacion"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObtenerStatusUuid">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="uuid" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObtenerStatusUuidResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ObtenerStatusUuidResult" type="tns:ResultadoConsulta"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObtenerStatusHash">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="userName" type="xs:string"/>
                <xs:element minOccurs="0" name="password" type="xs:string"/>
                <xs:element minOccurs="0" name="hash" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ObtenerStatusHashResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="ObtenerStatusHashResult" type="tns:ResultadoConsulta"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TimbradoResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="CadenaTimbre" type="xs:string"/>
            <xs:element minOccurs="0" name="Cfdi" type="xs:string"/>
            <xs:element minOccurs="0" name="DescripcionError" type="xs:string"/>
            <xs:element minOccurs="0" name="QrCodeBase64" type="xs:string"/>
            <xs:element minOccurs="0" name="Valido" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimbraCfdiQrResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="CadenaTimbre" type="xs:string"/>
            <xs:element minOccurs="0" name="Cfdi" type="xs:string"/>
            <xs:element minOccurs="0" name="DescripcionError" type="xs:string"/>
            <xs:element minOccurs="0" name="QrCodeBase64" type="xs:string"/>
            <xs:element minOccurs="0" name="Valido" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimbraCfdiQrSinSelloResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="CadenaTimbre" type="xs:string"/>
            <xs:element minOccurs="0" name="Cfdi" type="xs:string"/>
            <xs:element minOccurs="0" name="DescripcionError" type="xs:string"/>
            <xs:element minOccurs="0" name="QrCodeBase64" type="xs:string"/>
            <xs:element minOccurs="0" name="Valido" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimbraRetencionQrResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="CadenaTimbre" type="xs:string"/>
            <xs:element minOccurs="0" name="Cfdi" type="xs:string"/>
            <xs:element minOccurs="0" name="DescripcionError" type="xs:string"/>
            <xs:element minOccurs="0" name="QrCodeBase64" type="xs:string"/>
            <xs:element minOccurs="0" name="Valido" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResultadoConsulta">
        <xs:sequence>
            <xs:element minOccurs="0" name="AcuseCancelacion" type="xs:string"/>
            <xs:element minOccurs="0" name="AcuseEnvio" type="xs:string"/>
            <xs:element minOccurs="0" name="Comprobante" type="xs:string"/>
            <xs:element minOccurs="0" name="Status" type="tns:StatusComprobante"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StatusComprobante">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NoEncontrado"/>
            <xs:enumeration value="EnProceso"/>
            <xs:enumeration value="Enviado"/>
            <xs:enumeration value="Cancelado"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="RespuestaCancelacion">
        <xs:sequence>
            <xs:element minOccurs="0" name="Acuse" type="xs:string"/>
            <xs:element minOccurs="0" name="MensajeError" type="xs:string"/>
            <xs:element minOccurs="0" name="StatusUuids" type="tns:ArrayOfStatusUuid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfStatusUuid">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusUuid" type="tns:StatusUuid"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StatusUuid">
        <xs:sequence>
            <xs:element minOccurs="0" name="Status" type="xs:string"/>
            <xs:element minOccurs="0" name="Uuid" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RegistraEmpresa">
        <xs:sequence>
            <xs:element minOccurs="0" name="userName" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="empresa" type="tns:EmpresaNtLink"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="RegistraEmpresaResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="BajaEmpresa">
        <xs:sequence>
            <xs:element minOccurs="0" name="userName" type="xs:string"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="rfcEmpresa" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="BajaEmpresaResponse">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="EmpresaNtLink">
        <xs:sequence>
            <xs:element minOccurs="0" name="Ciudad" type="xs:string"/>
            <xs:element minOccurs="0" name="Colonia" type="xs:string"/>
            <xs:element minOccurs="0" name="Contacto" type="xs:string"/>
            <xs:element minOccurs="0" name="Cp" type="xs:string"/>
            <xs:element minOccurs="0" name="Curp" type="xs:string"/>
            <xs:element minOccurs="0" name="Direccion" type="xs:string"/>
            <xs:element minOccurs="0" name="Email" type="xs:string"/>
            <xs:element minOccurs="0" name="Estado" type="xs:string"/>
            <xs:element minOccurs="0" name="FechaContrato" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="Folios" type="xs:int"/>
            <xs:element minOccurs="0" name="RazonSocial" type="xs:string"/>
            <xs:element minOccurs="0" name="RegimenFiscal" type="xs:string"/>
            <xs:element minOccurs="0" name="Rfc" type="xs:string"/>
            <xs:element minOccurs="0" name="Sucursales" type="xs:int"/>
            <xs:element minOccurs="0" name="Telefono" type="xs:string"/>
            <xs:element minOccurs="0" name="TimbresContratados" type="xs:int"/>
            <xs:element minOccurs="0" name="Usuarios" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfEmpresaNtLink">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaNtLink" type="tns:EmpresaNtLink"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Folios.R">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Aceptacion"/>
            <xs:enumeration value="Rechazo"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="Folios">
        <xs:sequence>
            <xs:element minOccurs="0" name="Respuesta" type="tns:Folios.R"/>
            <xs:element minOccurs="0" name="UUDI" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfFolios">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Folios" type="tns:Folios"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>